@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<style>
    .column-left {
        float: left;
        width: 33%;
    }

    .column-right {
        float: right;
        width: 33%;
    }

    .column-center {
        display: inline-block;
        width: 33%;
    }

    /* WIDGETS */
    .widget {
        margin: 0 0 0px;
        padding: 0;
        background-color: #ffffff;
        border: 1px solid #e7e7e7;
        border-radius: 3px;
        height: 380px;
    }

        .widget div {
            padding: 0;
        }

        .widget h3 {
            font-size: 12px;
            padding: 8px 10px;
            text-transform: uppercase;
            border-bottom: 1px solid #e7e7e7;
        }

            .widget h3 span {
                float: right;
            }

                .widget h3 span:hover {
                    cursor: pointer;
                    background-color: #e7e7e7;
                    border-radius: 20px;
                }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Open Sans';
    }

    .maps {
        color: #35373d;
        padding-bottom: 1.091em;
        padding: 15px 0;
    }

    #OptionList {
        background: transparent;
        border-color: transparent;
        color: #333;
    }

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .k-map .k-marker-red-marker {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AoMDSM0TTMGvAAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAHUlEQVQ4y2M8Iy7OQC5gYqAAjGoe1TyqeVQz5ZoBCogBIhwXVIUAAAAASUVORK5CYII=');
        width: 10px;
        height: 10px;
        margin: -5px 0 0 -5px;
    }

    .k-tooltip-content {
        background-color: #018001;
        stroke: black;
    }

    .k-widget.k-tooltip {
        background-color: #018001;
        stroke: black;
    }

    .k-loading-mask {
        opacity: 0;
    }
</style>

<link href="~/Content/lightbox/lightbox.css" rel="stylesheet" />

@*<script src="~/Scripts/jquery-3.1.1.js"></script>*@
<script src="~/Scripts/lightbox/lightbox.js"></script>

<script type="text/javascript">
    window.onload = function onLoad(e) {

        var OptionList = $("#OptionList").data("kendoListView");
        var currentProductionUnitLat;
        var currentProductionUnitLong;

        $.ajax({
            url: "@Url.Action("GetNetworkStats", "InteractiveMap")",
            dataType: "json",
            type: "POST",
            success: function(response) {
                $("#ProductionUnitNumber").text(response.ProductionUnitNumber);
                $("#TotalMonthlyProduction").text(response.TotalMonthlyProduction + 'kg');
                $("#TotalMonthlySparedCO2").text(response.TotalMonthlySparedCO2 + 'kg');
            }
        });

        $.ajax({
            url: "@Url.Action("GetRandomProductionUnitDetail", "InteractiveMap")",
            dataType: "json",
            type: "POST",
            success: function(response) {
                $("#PioneerCitizenName").text('NAME: ' + response.PioneerCitizenName);
                $("#PioneerCitizenNumber").text('NUMBER: ' + response.PioneerCitizenNumber);
                $("#ProductionUnitType").text('TYPE: ' + response.ProductionUnitType);
                $("#ProductionUnitVersion").text('VERSION: ' + response.ProductionUnitVersion);
                $("#ProductionUnitStartDate").text('START DATE: ' + kendo.toString(kendo.parseDate(response.ProductionUnitStartDate, 'yyyy-MM-dd'), 'MM/dd/yyyy'));

                currentProductionUnitLat = response.LocationLatitude;
                currentProductionUnitLong = response.LocationLongitude;

                OptionList.dataSource.read({ SelectedProductionUnitLat: currentProductionUnitLat, SelectedProductionUnitLong: currentProductionUnitLong });

                if (response.PicturePath === null) {
                    $("#ProductionUnitPictureLink").hide();
                    $("#ProductionUnitPicture").hide();
                    $("#PerfChart").hide();
                } else {
                    $("#ProductionUnitPictureLink").attr("href", "/Content/Pictures/" + response.PicturePath);
                    $("#ProductionUnitPicture").attr("src", "/Content/Pictures/" + response.PicturePath);
                    $("#ProductionUnitPictureLink").show();
                    $("#ProductionUnitPicture").show();
                    $("#PerfChart").show();
                }
            }
        });

        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
        });
    }

    function onShow(e) {

        var OptionList = $("#OptionList").data("kendoListView");

        var currentProductionUnitLat = this.marker.options.location[0];
        var currentProductionUnitLong = this.marker.options.location[1];

        $.ajax({
            url: "@Url.Action("GetProductionUnitDetail", "InteractiveMap")",
            dataType: "json",
            data: { SelectedProductionUnitLat: currentProductionUnitLat, SelectedProductionUnitLong: currentProductionUnitLong },
            type: "POST",
            success: function(response) {
                $("#PioneerCitizenName").text('NAME: ' + response.PioneerCitizenName);
                $("#PioneerCitizenNumber").text('NUMBER: ' + response.PioneerCitizenNumber);
                $("#ProductionUnitType").text('TYPE: ' + response.ProductionUnitType);
                $("#ProductionUnitVersion").text('VERSION: ' + response.ProductionUnitVersion);
                $("#ProductionUnitStartDate").text('START DATE: ' + kendo.toString(kendo.parseDate(response.ProductionUnitStartDate, 'yyyy-MM-dd'), 'MM/dd/yyyy'));

                if (response.PicturePath === null) {
                    $("#ProductionUnitPictureLink").hide();
                    $("#ProductionUnitPicture").hide();
                    $("#PerfChart").hide();
                } else {
                    $("#ProductionUnitPictureLink").attr("href", "/Content/Pictures/" + response.PicturePath);
                    $("#ProductionUnitPicture").attr("src", "/Content/Pictures/" + response.PicturePath);
                    $("#ProductionUnitPictureLink").show();
                    $("#ProductionUnitPicture").show();
                    $("#PerfChart").show();
                }
            }
        });

        OptionList.dataSource.read({ SelectedProductionUnitLat: currentProductionUnitLat, SelectedProductionUnitLong: currentProductionUnitLong });
    }

    function onShapeCreated(e) {
        var shape = e.shape;
        var users = shape.dataItem.properties.users;
        if (users) {
            var color = scale(users).hex();
            shape.options.fill.set("color", color);
        }
    }

    function onShapeMouseEnter(e) {
        e.shape.options.set("fill.opacity", 1);
    }

    function onShapeMouseLeave(e) {
        e.shape.options.set("fill.opacity", 0.7);
    }

</script>

<script type="text/x-kendo-tmpl" id="templateOption">
    <div class="option">
        <h2>&bull; #:name#</h2>
    </div>
</script>


<div id="pioneer-network" style="height:100%" class="main-section-content">
    <div id="map-wrapper" class="row">
        <div id="picturesContainer" class="col-md-4">
            <div class="widget">
                <h3><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp; Picture</h3>
                <div style="margin: 25px;">
                    <a id="ProductionUnitPictureLink" class="example-image-link" data-lightbox="example-1">
                        <img class="example-image" id="ProductionUnitPicture" alt="image-1" style='height: 100%; width: 100%; object-fit: contain' />
                    </a>
                </div>
            </div>
        </div>
        <div id="map-container" class="col-md-8">
            <div class="widget">
                <h3><i class="fa fa-map" aria-hidden="true"></i>&nbsp; Pioneer Citizen Map</h3>
                <div class="maps">
                    @model myfoodapp.Hub.Models.Map
                    @(Html.Kendo().Map()
                    .Name(Model.Name)
                    .Center(Model.CenterLatitude, Model.CenterLongitude)
                    .Zoom(Model.Zoom)
                    .Zoomable(false)
                    .Layers(layers =>
                        {
                            layers.Add()
                                .Style(style => style
                                    .Fill(fill => fill.Color("#018001").Opacity(0.7))
                                    .Stroke(stroke => stroke.Color("#FFFFFF"))
                                )
                                .Type(MapLayerType.Shape)
                                .DataSource(dataSource => dataSource
                                    .GeoJson()
                                    .Read(read => read.Url(Url.Content("~/Content/countries.geo.txt")))
                                );
                        })
                        .Markers(markers =>
                        {
                            foreach (var marker in Model.Markers)
                            {
                                markers.Add()
                                .Location(marker.latlng)
                                .Shape(marker.shape)
                                .Tooltip(t => t.ShowOn(TooltipShowOnEvent.MouseEnter))
                                .Tooltip(t => t.Events(e => e.Show("onShow")))
                                .Title(marker.name);
                            }
                        })
                        .Events(events => events
                                          .ShapeCreated("onShapeCreated")
                                          .ShapeMouseEnter("onShapeMouseEnter")
                                          .ShapeMouseLeave("onShapeMouseLeave")
                            )
                    )
                </div>
            </div>
        </div>
    </div>
    <div id="map-wrapper" class="row">
        <div id="map-info" class="col-md-4">
            <div class="widget" style="height:200px">
                <h3><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; Network Info</h3>
                <div style="margin: 25px;">
                    <div class="column-left">
                        <h2 style="margin:7px;text-align: center;">TOTAL<br />CONNECTED <br />PROD. UNITS </h2>
                        <h1 id="ProductionUnitNumber" style="font-size:xx-large;text-align: center;"></h1>
                    </div>
                    <div class="column-center" style="border-left:1px solid #e2e2e2;">
                        <h2 style="margin:7px;text-align: center;">TOTAL<br />EST. PROD. <br />PER MONTH</h2>
                        <h1 id="TotalMonthlyProduction" style="font-size:xx-large;text-align: center;"></h1>
                    </div>
                    <div class="column-right" style="border-left:1px solid #e2e2e2;">
                        <h2 style="margin:7px;text-align: center;">TOTAL<br />CO2 SAVED<br />PER MONTH</h2>
                        <h1 id="TotalMonthlySparedCO2" style="font-size:xx-large;text-align: center;"></h1>
                    </div>
                </div>
            </div>
        </div>
        <div id="map-details" class="col-md-4">
            <div class="widget" style="height:200px">
                <h3><i class="fa fa-asterisk" aria-hidden="true"></i>&nbsp; Details</h3>
                <div style="margin: 25px;">
                    <h2 id="PioneerCitizenName"></h2>
                    <h2 id="PioneerCitizenNumber"><span></span></h2>
                    <h2 id="ProductionUnitType"><span></span></h2>
                    <h2 id="ProductionUnitVersion"><span></span></h2>
                    <h2 id="ProductionUnitStartDate"><span></span></h2>
                </div>
            </div>
        </div>
        <div id="map-options" class="col-md-4">
            <div class="widget" style="height:200px">
                <h3><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp; Options</h3>
                <div style="margin: 25px;">
                    @(Html.Kendo().ListView<myfoodapp.Hub.Models.Option>()
                    .Name("OptionList")
                    .TagName("div")
                    .ClientTemplateId("templateOption")
                    .DataSource(dataSource => dataSource
                      .Read(read => read.Action("Option_Read", "InteractiveMap"))
                    )
                    )
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center">
        <h4>.:myfoodapphub is licensed under a <a style="color:forestgreen" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"> Attribution-NonCommercial-ShareAlike 4.0 International</a> licence:.</h4>
    </div>
</div>


