@using myfoodapp.Hub.Models
@model UserViewModel

<script type="text/javascript">
    window.onload = function onLoad(e) {
        var OneSignal = window.OneSignal || [];
        OneSignal.push(["init", {
            appId: "674761cf-c65d-4eaa-adc7-960d13fe4e54",
            autoRegister: false,
            notifyButton: {
                enable: true /* Set to false to hide */
            }
        }]); 
    }

    OneSignal.push(function () {
        OneSignal.getUserId(function (userId) {
            console.log("OneSignal User ID:", userId);
            // (Output) OneSignal User ID: 270a35cd-4dda-4b3f-b04e-41d7463a2316    
        });
    });
   
</script>

<div id="center">
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Update", "MyInfo", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                        @Html.AntiForgeryToken()
                        <h1>Change User Settings</h1>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    }
            </section>
        </div>
    </div>
</div>

<style type="text/css">
    #center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
</style>
