@using myfoodapp.Hub.Models
@model ProductionUnitViewModel
<div id="center">
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Update", "ProductionUnits", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.locationLatitude)
                    @Html.HiddenFor(model => model.locationLongitude)
                    @Html.HiddenFor(model => model.options)
                    @Html.HiddenFor(model => model.picturePath)
                   
                    @Html.HiddenFor(model => model.productionUnitTypeId)
                    @Html.HiddenFor(model => model.ownerId)
                    @Html.HiddenFor(model => model.version)
                    @Html.HiddenFor(model => model.startDate)
                    @Html.HiddenFor(model => model.reference)

                        @Html.AntiForgeryToken()
                        <h1>Change Production Unit Settings</h1>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.info, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @(Html.Kendo().TextBoxFor(model => model.info)
                                .Name("info")
                                .HtmlAttributes(new {@readonly = "true" })
                                 )
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.owner, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @(Html.Kendo().TextBoxFor(model => model.owner.pioneerCitizenName)
                                .HtmlAttributes(new { @readonly = "true" })
                                )
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.hydroponicType, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @(Html.Kendo().DropDownListFor(m => m.hydroponicTypeId)
                                  .DataTextField("name")
                                  .DataValueField("Id")
                                  .AutoBind(true)
                                  .DataSource(source =>
                                  {
                                      source.Read(read =>
                                      {
                                          read.Action("HydroponicTypes_Read", "ProductionUnits");
                                      });
                                  })
                                )
                        </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save & Close" class="btn btn-default" />
                            </div>
                        </div>
                    }
            </section>
        </div>
    </div>
</div>

<style type="text/css">
    #center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
</style>
